<footer class="border-t border-gray-500">
	<div class="bg-gray-200 mx-blok py-8 flex items-start flex-row justify-center">
		<div class="flex flex-col mx-12">
			<h3 class="text-lg font-bold">
				Site map
			</h3>
			{% for item in navigation %}
				<a href="{{ item.link | url }}" class="text-base text-gray-700 hover:text-gray-900">
					{{ item.name }}
				</a>
			{% endfor %}
			<a href="{{ '/get-involved' | url }}" class="text-base text-gray-700 hover:text-gray-900">
				Get Involved
			</a>
		</div>
		<div class="flex flex-col mx-12">
			<h3 class="text-lg font-bold">
				Email
			</h3>
			<a href="mailto:director@chhsinnovation.com" class="text-base text-gray-700 hover:text-gray-900">
				director@chhsinnovation.com
			</a>
			<h3 class="text-lg font-bold mt-6">
				Location
			</h3>
			<span class="text-base text-gray-900">
        <span class="whitespace-no-wrap">Bateson Building</span><br>
				<span class="whitespace-no-wrap">1600 9th Street, #460</span><br>
				<span class="whitespace-no-wrap">Sacramento, CA 95814</span>
			</span>
		</div>
		<div class="hidden md:block -rotate-5 z-20 mx-12">
      <div class="post-it post-it-yellow-peel-both text-center rock-salt text-gray-900 py-8 px-8 text-4xl lg:w-96 lg:text-5xl">
        <span>
					Hack for Health!
				</span>
      </div>
    </div>
	</div>
	<div class="bg-blue-800 mx-blok py-8 flex flex-col items-center sm:flex-row sm:items-start justify-center">
		<img class="h-24 mb-6 sm:mb-2 sm:mr-6" src="{{ '/assets/images/CHHS-Logo-Alpha.png' | url }}">
		<p class="max-w-xl p-2 sm:p-0 text-gray-100 text-justify">
			The California Health and Human Services Agency oversees departments and offices that provide a wide range of services in the areas of health care, mental health, public health, alcohol and drug treatment, income assistance, social services and assistance to people with disabilities.
		</p>
	</div>
</footer>
