{% import "macros.njk" as macro with context %}

{% set length %}

{% endset %}

{% set challenges %}
How might we provide a better user experience across the three control programs for licensing and complaints
{% endset %}

{% set deliverables %}
12 
{% endset %}

{% set outcomes %}

{% endset %}


{{ macro.executiveSummary(
    title="Cannabis",
    length=length,
    more=null,
    improvements=improvements,
    challenges=challenges,
    deliverables=deliverables,
    outcomes=outcomes
)}}
