{% import "macros.njk" as macro with context %}

{% set length %}
09/23/2019
{% endset %}

{% set challenges %}
How might we provide a better user experience across the three control programs for licensing and complaints
{% endset %}

{% set deliverables %}
* Journey maps across the different programs
* Customized product matrix per business line in keeping with GoBiz/private industry OKRs
* Prototype of integrated, improved customer service across programs
{% endset %}

{% set outcomes %}
* Improved customer satisfaction
* Increase tax revenue for state
* Reduced staff burden for licensing process
* Model ODI and CDT structure while proving out the working model for a new OI & CHHS data team effort. Goal: to produce data driven product improvements
{% endset %}


{{ macro.executiveSummary(
    title="Recently Completed Engagements - Cannabis",
    length=length,
    more=null,
    improvements=improvements,
    challenges=challenges,
    deliverables=deliverables,
    outcomes=outcomes
)}}
