<hr class="border-t border-gray-500">
<footer class="container mx-blok my-4">
	<div class="flex flex-col sm:flex-row items-start justify-center">
		<img class="h-24 mb-2 sm:mr-6" src="{{ "/assets/images/CHHS-Logo.jpg" | relative_url }}">
		<p class="max-w-xl text-gray-600 text-justify">The California Health and Human Services Agency oversees departments and offices that provide a wide range of services in the areas of health care, mental health, public health, alcohol and drug treatment, income assistance, social services and assistance to people with disabilities.</p>
	</div>
</footer>

