<div class="fixed bg-white w-full">
  <nav class="container mx-blok h-20 sm:h-24 flex items-center justify-between flex-wrap py-2">
    <div>
      <a href="/"><img class="object-contain h-12 sm:h-16" src="/assets/images/OoI-logo-lg borders.png" alt="Office of Innovation Homepage"></a>
    </div>
    <div class="block flex-grow flex items-center w-auto justify-end">
      <a href="#responsive-header" id="methods-menu-link" class="hidden md:block lg:inline-block text-sm sm:text-base lg:text-lg font-bold text-blue-700 hover:text-blue-900 mr-6 lg:mr-12">
        Methods
      </a>
      <a href="/blog.html" class="hidden md:block lg:inline-block text-sm sm:text-base lg:text-lg font-bold text-blue-700 hover:text-blue-900 mr-6 lg:mr-12">
        Engagements
      </a>
      <a href="#responsive-header" class="hidden md:block lg:inline-block text-sm sm:text-base lg:text-lg font-bold text-blue-700 hover:text-blue-900 mr-6 lg:mr-12">
        Community
      </a>
      <a href="#" class="hidden md:block text-sm lg:text-lg font-bold px-6 lg:px-8 py-4 lg:py-4 leading-none border rounded text-white bg-blue-500 text-gray-100 hover:text-blue-100 hover:bg-blue-700">
        Get Involved
      </a>
      <a href="#" class="block md:hidden text-sm sm:text-base font-bold px-6 py-4 leading-none border rounded text-white bg-blue-500 text-gray-100 hover:text-blue-100 hover:bg-blue-700">
        Menu
      </a>
    </div>
  </nav>
  <hr class="border-t border-gray-500">
  <div id="methods-menu" class="hidden">
    <h1>I'm alive!</h1>
  </div>
</div>
