---
---
//@import "main";
// Custom.scss
// Option A: Include all of Bootstrap

@import "bootstrap/bootstrap";

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

blockquote {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
}
blockquote p {
    margin-bottom: 0;
    padding-bottom: 0;
}
nav {
    padding: 5px;
    margin-bottom: 20px;
}
.accordian {
    padding-bottom: 30px !important;    
}
.jumbotron, .jumbotron h1 {
    color: #fff;    
}
.jumbotron {
    background: #114476;
}
.btn-link {
    font-size: 20px !important;
    font-weight: 900 !important;
}
footer {
    border-top: 1px solid #f1f1f1;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}