<section class="py-12">
    <h2>
        {{ include.title }}
    </h2>
    {{ include.length | markdownify }}
    {% if include.more %}
        {{ include.more | markdownify }}
    {% endif %}
    <div class="max-w-3xl xl:max-w-9xl flex mx-2 sm:mx-6 flex-col xl:flex-row border-4 border-gray-400">
        <div class="max-w-3xl xl:w-1/3 xl:max-w-lg xl:border-r xl:border-gray-400">
            {% if include.improvements %}
                <div class="mb-12">
                    <h3>
                        Improvements
                    </h3>
                    {{ include.improvements | markdownify }}
                </div>
            {% endif %}
            <div>
                <h3>
                    Challenges
                </h3>
                {{ include.challenges | markdownify }}
            </div>
        </div>
        <div class="max-w-3xl xl:w-1/3 xl:max-w-lg xl:border-r xl:border-gray-400">
            <h3>
                Deliverables
            </h3>
            {{ include.deliverables | markdownify }}
        </div>
        <div class="max-w-3xl xl:w-1/3 xl:max-w-lg xl:border-r">
            <h3>
                Outcomes
            </h3>
            {{ include.outcomes | markdownify }}
        </div>
    </div>
</section>