{% extends './base.njk' %}

{% block main %}
  <h1 class="max-w-3xl text-5xl text-gray-900 font-black mt-8 leading-none">
    {{ page.name }}
  </h1>
  <span class="block mx-blok max-w-3xl text-3xl text-gray-800 font-thin mb-12 leading-none">
    {{ page.position }}
  </span>

  {% block person %}
    {{ content | safe }}
  {% endblock %}

  <h2 class="max-w-3xl">Posts</h2>
  <ul>
    {% for person, posts in collections.postsByAuthor %}
      {% if person === page.fileSlug %}
        {% for post in posts %}
          <li>
            <a href="{{ post.url }}">
              {{ post.data.title }}
            </a>
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
