<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CHHS Office of Innovation website">
    <meta name="author" content="CHHS Staff">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/styles/full/styles.css" | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Source+Sans+Pro:200i,400,700,900&display=swap" rel="stylesheet">     
    <script>
      function toggleIt() {
        var element = document.getElementById("methods-menu");
        element.classList.toggle("hidden");
      }
      document.addEventListener("DOMContentLoaded", function(event) {
        document.getElementById('methods-menu-link').onclick = toggleIt;
      });
    </script>
  </head>
  <body>
    {% include navigation.html %}

    <div class="container mx-blok pt-24 pb-12">
      {{ content }}
    </div>
    
    {% include footer.html %}
  </body>
</html>
