---
layout: default
---
<article class="max-w-3xl text-lg mx-blok">
  <span class="text-2xl font-thin mt-8 leading-none">
      {{ page.host }}
  </span>
  <h1 class="text-4xl font-black mb-12 leading-none">
    {{ page.full_title }}
  </h1>
  
  {% assign author = site.people | where: 'short_name', page.author | first %}
  <div class="mb-12">
    {% if author %}
      {% include contact-card-mini.html person=author %}
    {% else %}
      <span class="block">
        {{ author.name }}
      </span>
    {% endif %}
  </div>
   
  <span>
      {{ page.date  | date: "%B %-d, %Y" }}
  </span>

  {% if page.summary %}
    <div class="border-l-8 rounded-r-lg border-gray-600 p-4 mt-2 mb-12 bg-gray-200">
      <h2 class="mt-0">
        Summary
      </h2>
      <p class="mb-0">
        {{ page.summary }}
      </p>
    </div>
  {% endif %}

  {{content}}

  {% if page.staff.size > 0 %}
    <h2>
      Office of Innovation Staff
    </h2>
    <div class="flex flex-wrap">
      {% for person in page.staff %}
        {% assign profile = site.people | where: 'short_name', person.name | first %}
        {% if profile %}
          {% include contact-card-mini.html person=profile %}
        {% else %}
          {% include contact-card-mini.html person=person %}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if page.staff.size > 0 %}
    <h2>
      Department Champions
    </h2>
    <div class="flex flex-col">
      {% for person in page.champs %}
          {% include contact-card-guest.html person=person %}
      {% endfor %}
    </div>
  {% endif %}

</article>
