---
layout: summaries.njk
type: summaries
title: "Culture of Collaboration and Innovation: HR/Recruiting Improvement"
---

{% include './snippets/DMHC-Recruiting.njk' %}

{% include './snippets/DCSS-Recruiting.njk' %}