---
layout: summaries.njk
type: summaries
title: "Culture of Collaboration and Innovation: Procurement Reform & Product Delivery"
---

{% include './snippets/dmhc-distance-to-provider.njk' %}

{% include './snippets/dor-shared-services.njk' %}

{% include './snippets/ca-mmis.njk' %}

{% include './snippets/las.njk' %}

{% include './snippets/dhcs-contracts.njk' %}
